::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
  background-color: rgb(200, 200, 200);
}

body {
  margin: 0;
  /* overflow: hidden; */
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.ant-tabs-nav {
  margin: 0px;
}

/* #root>.ant-layout {
  height: 100%
} */